.footer {
  overflow: hidden;
  &__info-wrapper {
    @include flexbox(space-between, flex-start);
    padding: 9.5rem 0 9.2rem 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding: 6rem 0;
    }
    @media screen and (max-width: 500px) {
      padding: 4rem 0;
    }
  }

  &__column {
    flex-basis: 187px;
    max-width: 187px;
    margin-right: 34px;

    &:nth-last-of-type(1) {
      margin: 0;
    }

    @media screen and (max-width: 767px) {
      flex-basis: 40px;
      max-width: 70vw;
      margin: 0;
      // :not(:first-of-type) {
      //   max-height: 50px;
      // }
    }
  }

  &__column-title {
    @include fontStyle(600, 2rem, 1.25, $primary-font);
    @include adaptive-font(2, 1.2);
    margin: 0 0 21px 0;
    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }

  &__column-title-wrapper {
    @include flexbox(flex-start, flex-start);
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &__column-item {
    margin: 0 0 15px 0;
  }

  &__column-link {
    @include fontStyle(400, 1.5rem, 1, $primary-font);
    @include adaptive-font(1.5, 1);
    color: getColor(primary-dark-color);
    transition: text-decoration $cubic;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.case-studies {
  flex-basis: 370px;
  max-width: 370px;
  margin-right: 70px;

  @media screen and (max-width: 767px) {
    margin: 0 0 30px 0;
    max-width: 70vw;
  }

  &__title {
    @include fontStyle(600, 4rem, 1.25, $primary-font);
    @include adaptive-font(4, 2);
    margin: 0 0 28px 0;
  }
  &__img {
    margin: 0 0 31px 0;
    @media screen and (max-width: 767px) {
      margin: 0;
      width: 70vw;
    }
  }

  &__specialized {
    width: 80px;
    height: 32px;
    margin: 0 0 11px 0;
  }
  &__text {
    @include fontStyle(400, 2rem, 1.5, $primary-font);
    @include adaptive-font(2, 1.2);
    margin: 0 0 15px 0;
  }
  &__link {
    @include fontStyle(600, 2rem, 1.5, $primary-font);
    @include adaptive-font(2, 1.2);
    color: getColor(primary-dark-color);
    transition: color $cubic;

    &:hover,
    &:focus {
      color: getColor(decorative-color);
    }
  }
}

.ending {
  @include flexbox(space-between);
  min-height: 126px;
  border-top: 1px solid getColor(primary-dark-color);
  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
  }

  &__separator {
    @include flexbox();
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__logo {
    margin-right: 14px;
  }

  &__text {
    max-width: 300px;
    margin: 0;
    @include fontStyle(400, 1.2rem, 1.25, $primary-font);
    @include adaptive-font(1.2, 1);
  }

  &__copyright {
    margin-right: 76px;
    @include fontStyle(400, 1.2rem, 1.25, $primary-font);
    @include adaptive-font(1.2, 1);

    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }
}

.footer .arrow-more {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    position: relative;
    top: 5px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid getColor(decorative-color);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.footer .mobile-list {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 150ms linear;
  height: 0;
  width: 0;

  &.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    height: fit-content;
    min-width: 200px;
    background-color: getColor(bg-secondary);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.08),
      1px 4px 6px rgba(0, 0, 0, 0.12);
    transform: scale(1);
    margin-bottom: 10px;
  }
}
