.hero {
  padding: 12.9rem 0 17.2rem 0;
  @media screen and (max-width: 1000px) {
    padding: 7rem 0;
  }
  @media screen and (max-width: 767px) {
    padding: 6rem 0;
  }
  @media screen and (max-width: 500px) {
    padding: 4rem 0;
  }

  &__container {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__wrapper {
    @include flexbox();
  }

  &__content {
    max-width: 42%;
    @media screen and (max-width: 1060px) {
      margin-right: 15px;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    @include fontStyle(600, 6.5rem, 1.08, $primary-font);
    @include adaptive-font(6.5, 2.5);
    color: getColor(primary-dark-color);
    margin: 0 0 51px 0;

    @media screen and (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }

  &__text {
    @include fontStyle(400, 2.5rem, 1.4, $primary-font);
    @include adaptive-font(2.5, 1.5);

    color: getColor(primary-dark-color);
    margin: 0 0 50px 0;
    display: inline-block;
    max-width: 470px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
  }

  &__caption {
    @include fontStyle(400, 1.5rem, 1.67, $primary-font);
    @include adaptive-font(1.5, 1);

    margin: 25px 0 0 0;
    @media screen and (max-width: 767px) {
      margin: 15px 0 0 0;
    }
  }

  &__img {
    @media screen and (max-width: 767px) {
      max-width: 60vw;
    }
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-bottom: 25px;
    }
  }

  &__buttons {
    text-align: left;
  }
}

.hero .accent_button {
  height: 60px;
  min-width: 160px;
  margin-right: 10px;
  @media screen and (max-width: 920px) {
    min-width: 120px;
    height: 40px;
  }
}

.hero .light_button {
  height: 60px;
  min-width: 160px;
  @media screen and (max-width: 920px) {
    min-width: 120px;
    height: 40px;
  }
}

.clients .container {
  text-align: center;
}

.clients {
  padding: 108px 0 104px 0;
  @media screen and (max-width: 1000px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 500px) {
    padding: 40px 0;
  }

  background-color: getColor(bg-accent);

  &__title {
    display: inline-block;
    max-width: 720px;
    @include fontStyle(600, 5rem, 1.2, $primary-font);
    @include adaptive-font(5, 2.5);
    margin: 0 0 70px 0;
    @media screen and (max-width: 767px) {
      margin: 0 0 35px 0;
    }
  }

  &__list {
    @include flexbox();
    margin: 0 -51px;

    @media screen and (max-width: 1320px) {
      flex-wrap: wrap;
      margin: -20px;
    }
    @media screen and (max-width: 515px) {
      margin: -15px;
    }
  }

  &__item {
    margin: 0 51px;
    @media screen and (max-width: 1320px) {
      margin: 20px;
      flex-basis: calc((100% - 6 * 20px) / 3);
    }
    @media screen and (max-width: 515px) {
      margin: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
    }
  }
}
