.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: react(0 0 0 0);
  clip: rect(0px 0px 0px 0px);
  overflow: hidden;
}

.html {
  font-size: 62.5%;
}

html {
  min-height: 100%;
}
body {
  min-height: 100%;
}

.body {
  background-color: getColor('white-color');
  font-family: $primary-font;
  font-size: 1.6rem;
  font-display: fallback;
  color: getColor('primary-dark-color');
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.accent_button,
.light_button {
  display: inline-block;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: getColor(decorative-color);
  color: getColor(primary-light-color);
  @include flexbox();
  display: inline-flex;
  padding: 0 20px;
  @include fontStyle(600, 1.6rem, 2.81, $primary-font);
  @include adaptive-font(1.6, 1);

  &:hover,
  &focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.light_button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: getColor(primary-light-color);
  color: getColor(primary-dark-color);
}

.svg-tidal-dims {
  max-width: 150px;
  max-height: 21px;
}
.svg-virgin-mobile-dims {
  max-width: 72px;
  max-height: 53px;
}
.svg-yelp-dims {
  max-width: 107px;
  max-height: 53px;
}
.svg-specialized-dims {
  max-width: 138px;
  max-height: 53px;
}
.svg-daimler-dims {
  max-width: 150px;
  max-height: 19px;
}
.svg-Frame-dims {
  max-width: 112px;
  max-height: 25px;
}
.svg-stars-evaluate-dims {
  width: 128px;
  height: 20px;
}
.svg-g2-dims {
  width: 36px;
  height: 36px;
}
.svg-capterra-dims {
  width: 150px;
  height: 37px;
}

.svg-lokalise-text-dims {
  width: 90px;
  height: 21px;
}

@media screen and (max-width: 1200px) {
  .svg-stars-evaluate-dims {
    width: calc(128px - 13%);
  }
  .svg-g2-dims {
    width: calc(36px - 8%);
  }
  .svg-capterra-dims {
    width: calc(150px - 13%);
  }
}

@media screen and (max-width: 768px) {
  .svg-tidal-dims {
    width: calc(150px - 13%);
    max-height: 21px;
  }
  .svg-virgin-mobile-dims {
    width: calc(72px - 10%);
    max-height: 53px;
  }
  .svg-yelp-dims {
    width: calc(107px - 13%);
    max-height: 53px;
  }
  .svg-specialized-dims {
    width: calc(138px - 13%);
    max-height: 53px;
  }
  .svg-daimler-dims {
    width: calc(150px - 13%);
    max-height: 19px;
  }
  .svg-Frame-dims {
    width: calc(112px - 13%);
    max-height: 25px;
  }
  .svg-stars-evaluate-dims {
    width: calc(128px - 18%);
  }
  .svg-g2-dims {
    width: calc(36px - 10%);
  }
  .svg-capterra-dims {
    width: calc(150px - 18%);
  }
}

@media screen and (max-width: 768px) {
  .svg-tidal-dims {
    width: calc(150px - 18%);
    max-height: 21px;
  }
  .svg-virgin-mobile-dims {
    width: calc(72px - 13%);
    max-height: 53px;
  }
  .svg-yelp-dims {
    width: calc(107px - 18%);
    max-height: 53px;
  }
  .svg-specialized-dims {
    width: calc(138px - 18%);
    max-height: 53px;
  }
  .svg-daimler-dims {
    width: calc(150px - 18%);
    max-height: 19px;
  }
  .svg-Frame-dims {
    width: calc(112px - 18%);
    max-height: 25px;
  }
}
