/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  font-display: swap;
  src: url("../fonts/Graphik-Semibold.woff") format("woff"), url("../fonts/Graphik-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: react(0 0 0 0);
  clip: rect(0px 0px 0px 0px);
  overflow: hidden;
}

.html {
  font-size: 62.5%;
}

.body {
  font-family: "Graphik", sans-serif;
  font-size: 1.6rem;
  font-display: fallback;
  color: #000000;
}

.container {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.accent_button {
  display: inline-block;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #ff6336;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px;
}

.light_button {
  display: inline-block;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px;
}

.svg-lokalise-dims {
  width: 130px;
  height: 28px;
}

.logo {
  margin-right: 51px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  min-height: 95px;
  padding: 2.5rem 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn {
  display: none;
}

.burger-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ff6336;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn.is-open span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger-btn.is-open::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger-btn.is-open::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.nav__mobile {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 60;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #ff9c7d;
  text-align: center;
  padding: 1rem 0;
}

.nav__mobile.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 42px;
}

.authorization .light_button,
.authorization .accent_button {
  height: 45px;
  min-width: 120px;
}

.authorization .light_button:hover,
.authorization .light_buttonfocus,
.authorization .accent_button:hover,
.authorization .accent_buttonfocus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.authorization .light_button {
  margin-right: 10px;
}

.nav__link {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33;
  font-family: "Graphik", sans-serif;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (min-width: 767px) {
  .accent_button {
    font-size: calc(1rem + 6 * (100vw / 1370));
  }

  .light_button {
    font-size: calc(1rem + 6 * (100vw / 1370));
  }
}

@media screen and (max-width: 1010px) {
  .authorization .light_button,
  .authorization .accent_button {
    height: 40px;
    padding: 0 1rem;
    min-width: 110px;
  }
}

@media (max-width: 1000px) {
  .nav__link {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.33;
    font-family: "Graphik", sans-serif;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 981px) {
  .svg-lokalise-dims {
    width: 90px;
    height: 20px;
  }

  .logo {
    margin-right: 37px;
  }

  .header {
    padding: 1.5rem 0;
    min-height: 60px;
  }

  .nav__item {
    margin-right: 28px;
  }
}

@media screen and (max-width: 975px) {
  .authorization .light_button,
  .authorization .accent_button {
    height: 35px;
    min-width: 100px;
  }
}

@media (max-width: 810px) {
  .authorization .light_button,
  .authorization .accent_button {
    height: 30px;
    min-width: 80px;
  }

  .authorization .light_button,
  .authorization .accent_button {
    height: 30px;
    min-width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .svg-lokalise-dims {
    width: 110px;
    height: 24px;
  }

  .nav__item {
    margin: 7px 0;
  }

  .nav__item:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .accent_button {
    font-size: calc( 1rem + 10.2 * ((100vw - 320px) / 1370));
  }

  .light_button {
    font-size: calc( 1rem + 10.2 * ((100vw - 320px) / 1370));
  }

  .logo {
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .burger-btn::before,
  .burger-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ff6336;
    left: 0;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger-btn::before {
    top: 0;
  }

  .burger-btn::after {
    bottom: 0;
  }

  .nav__list {
    display: block;
  }
}

@media (max-width: 767px) {
  .nav__link {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.33;
    font-family: "Graphik", sans-serif;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 520px) {
  .logo {
    left: 15%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 438px) {
  .svg-lokalise-dims {
    width: 90px;
    height: 24px;
  }
}

@media (max-width: 438px) {
  .authorization .light_button,
  .authorization .accent_button {
    height: 30px;
    min-width: 60px;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    position: absolute;
    left: 20%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}